@tailwind base;
@tailwind components;
@tailwind utilities;
.background-image {
    background-image: url('/Users/machideratsubasa/Downloads/chase-baker-yvb8NrIhIFI-unsplash.jpg');
    background-size: cover; /* 画像をカバーとして表示 */
    background-repeat: no-repeat;
}
.custom-button {
    background-color: green;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.custom-button:hover {
    background-color: darkgreen;
}
